@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest);
  --font-mono: var(--font-geist-mono);
  --color-orange-50: #e6f4f2;
  --color-orange-100: #cce9e5;
  --color-orange-200: #99d3cb;
  --color-orange-300: #66bdb1;
  --color-orange-400: #145e54;
  --color-orange-500: #0C433C;
  --color-orange-600: #09332d;
  --color-orange-700: #072622;
  --color-orange-800: #051a17;
  --color-orange-900: #030d0b;
  --color-orange-950: #010605;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
